@import "vars";


/*Font faces*/
@font-face {
    src: url("/static/fonts/Comfortaa_Regular.ttf");
    font-family: Comfortaa;
}
@font-face {
    src: url("/static/fonts/Comfortaa_Bold.ttf");
    font-family: Comfortaa_Bold;
}

/*Base classes*/
.right {
    float: right;
}
.left {
    float: left;
}
.hidden {
    display: none;
}
.highlight.green{
    color: $green;
}
.highlight.orange{
    color: $orange;
}
.highlight.blue{
    color: $blue;
}


/*Main style*/
body {
    /*background-image: url(/eliar/static/images/mish_r.jpg);*/
    background-repeat: no-repeat;
    /*color: $fg_color;*/
    text-shadow: 0 1px 1px #888;
    font-family: Comfortaa;
    padding-bottom: 100px;
}

body #content {
    padding: 4px;
    margin: 0 auto;
    /*width: 90%;*/
    margin-bottom: 50px;
}

.links{
    margin-top: 6px;
}
.favic{
		margin-bottom: -4px;
		margin-right: 6px;
		height: 16px;
	}
li{
	padding-left: 8px;
	padding-top: 2px;
	padding-bottom: 3px;
    list-style: none;
    margin-left: -24px;
    width: 500px;
    cursor: pointer;
}
.loginerror{
    background: #aa0000;
    font-weight: bold;
    text-align: center;
    height: 20px;
    margin-bottom: 8px;
    padding: 4px;
    color: #000 !important;
}
.del{
    padding: 4px 5px !important;
    margin-top: -3px;
    margin-right: -1px;
}
.form{
    padding: 4px;
    width: 500px;
}
.form input{
    width: 150px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.send{
    margin-right: -3px;
    margin-top: -2px;
}
#datepicker{
    margin-top: 24px;
}
.col{
    height: 100%;
    margin-top: 30px;
}
.cont{
    margin: 0 auto;
    width: 900px;
}
.calendar{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.wallta{
    /*border: 1px solid black;*/
}
.inplaceedit{
    width: 370px;
        -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #777;
    padding: 4px;
}
form.inplaceeditform {
    display: block !important;
    width: 380px;
    }